<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9GqeYJNunuwVqqxfrXgZWGsx6AfG7QdA</string>
	<key>GCM_SENDER_ID</key>
	<string>634734461787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acca-central.app</string>
	<key>PROJECT_ID</key>
	<string>accacentral</string>
	<key>STORAGE_BUCKET</key>
	<string>accacentral.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634734461787:ios:946c0ec4ad9960ad93d07e</string>
</dict>
</plist>